* text=auto !eol
/BUGS -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/Makefile.in -text
/NeoStats-team -text
/README.FIRST -text
/README.PLATFORMS -text
/README.VMS -text
/TODO -text
adns/.cvsignore -text
adns/COPYING -text
adns/GPL-vs-LGPL -text
adns/README -text
adns/README.ircd -text
autoconf/acconfig.h -text
autoconf/configure.in -text
autoconf/install-sh -text
/clean.com -text
/configure -text
contrib/.cvsignore -text
contrib/disable_identd.diff -text
doc/.cvsignore -text
doc/LazyLinks.txt -text
doc/Tao-of-IRC.940110 -text
doc/dline.conf -text
doc/ircd.motd -text
doc/kline.conf -text
doc/old/Authors -text
doc/old/Etiquette -text
doc/old/README -text
doc/old/ircd.8 -text
doc/opermyth.txt -text
doc/technical/README.TSora -text
doc/technical/README.openssl -text
doc/technical/rfc1459.txt -text
help/Makefile.in -text
help/opers/chanserv -text
help/opers/clearchan -text
help/opers/cmode -text
help/opers/gline -text
help/opers/identify -text
help/opers/index -text
help/opers/map -text
help/opers/nickserv -text
help/opers/notice -text
help/opers/ojoin -text
help/opers/operserv -text
help/opers/opme -text
help/opers/privmsg -text
help/opers/sethost -text
help/opers/smo -text
help/opers/statserv -text
help/opers/svshost -text
help/opers/svsid -text
help/opers/svsjoin -text
help/opers/svsmode -text
help/opers/svsnick -text
help/opers/svspart -text
help/opers/swhois -text
help/opers/tburst -text
help/opers/umode -text
help/opers/vhost -text
help/users/chanserv -text
help/users/identify -text
help/users/index -text
help/users/nickserv -text
help/users/statserv -text
help/users/umode -text
help/users/vhost -text
iauth/.cvsignore -text
iauth/include/auth.h -text
iauth/include/class.h -text
iauth/include/commands.h -text
iauth/include/conf.h -text
iauth/include/iauth.h -text
iauth/include/log.h -text
iauth/include/match.h -text
iauth/include/misc.h -text
iauth/include/mtree.h -text
iauth/include/res.h -text
iauth/include/sock.h -text
iauth/source/Makefile.in -text
iauth/source/auth.c -text
iauth/source/class.c -text
iauth/source/commands.c -text
iauth/source/conf.c -text
iauth/source/iauth.c -text
iauth/source/log.c -text
iauth/source/match.c -text
iauth/source/misc.c -text
iauth/source/mtree.c -text
iauth/source/res.c -text
iauth/source/sock.c -text
include/.cvsignore -text
/make.com -text
messages/.cvsignore -text
messages/Makefile.in -text
messages/build_one -text
messages/create_po -text
messages/translations/.cvsignore -text
messages/translations/Makefile.in -text
messages/translations/README -text
messages/translations/ircd-croatian.po -text
messages/translations/ircd-danish.po -text
messages/translations/ircd-dutch.po -text
messages/translations/ircd-german.po -text
messages/translations/ircd-norwegian.po -text
messages/translations/ircd-spanish.po -text
messages/translations/ircd-swedish.po -text
modules/.cvsignore -text
servlink/.cvsignore -text
servlink/descrip.mms -text
servlink/setup.h.in -text
src/.cvsignore -text
src/version.com -text
tools/.cvsignore -text
tools/mkkeypair -text
tools/rsa_respond/.cvsignore -text
