* text=auto !eol
/.cvsignore -text
/.indent.pro -text
/BUGS -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/Makefile.in -text
/NeoStats-team -text
/README.FIRST -text
/README.PLATFORMS -text
/README.VMS -text
/TODO -text
adns/.cvsignore -text
adns/COPYING -text
adns/GPL-vs-LGPL -text
adns/Makefile.in -text
adns/README -text
adns/README.ircd -text
adns/adns.h -text
adns/check.c -text
adns/descrip.mms -text
adns/dlist.h -text
adns/event.c -text
adns/general.c -text
adns/internal.h -text
adns/parse.c -text
adns/query.c -text
adns/reply.c -text
adns/setup.c -text
adns/transmit.c -text
adns/tvarith.h -text
adns/types.c -text
autoconf/acconfig.h -text
autoconf/configure.in -text
autoconf/install-sh -text
/clean.com -text
/configure -text
contrib/.cvsignore -text
contrib/Makefile.in -text
contrib/README -text
contrib/README.LMH -text
contrib/README.disable_identd -text
contrib/disable_identd.diff -text
contrib/example_module.c -text
contrib/lmh.diff -text
contrib/m_clearchan.c -text
contrib/m_flags.c -text
contrib/m_force.c -text
contrib/m_jupe.c -text
contrib/m_ltrace.c -text
contrib/m_mkpasswd.c -text
contrib/m_ojoin.c -text
contrib/m_opme.c -text
contrib/m_tburst.c -text
contrib/spy_admin_notice.c -text
contrib/spy_info_notice.c -text
contrib/spy_links_notice.c -text
contrib/spy_motd_notice.c -text
contrib/spy_stats_notice.c -text
contrib/spy_stats_p_notice.c -text
contrib/spy_trace_notice.c -text
contrib/spy_whois_notice.c -text
doc/.cvsignore -text
doc/CIDR.txt -text
doc/LazyLinks.txt -text
doc/Makefile.in -text
doc/Tao-of-IRC.940110 -text
doc/challenge.txt -text
doc/dline.conf -text
doc/example.conf -text
doc/guidelines.txt -text
doc/index.txt -text
doc/ircd.8 -text
doc/ircd.motd -text
doc/kline.conf -text
doc/kline.txt -text
doc/messages.txt -text
doc/modeg.txt -text
doc/modes.txt -text
doc/old/Authors -text
doc/old/ChangeLog-Hybrid7Rc1 -text
doc/old/Etiquette -text
doc/old/Hybrid-team -text
doc/old/README -text
doc/old/ircd.8 -text
doc/operguide.txt -text
doc/opermyth.txt -text
doc/resv.txt -text
doc/server-version-info -text
doc/serverhide.txt -text
doc/technical/Persistent_Clients.txt -text
doc/technical/README.TSora -text
doc/technical/README.openssl -text
doc/technical/cryptlink.txt -text
doc/technical/debug_api.txt -text
doc/technical/event.txt -text
doc/technical/fd-management.txt -text
doc/technical/file-management.txt -text
doc/technical/hostmask.txt -text
doc/technical/iauth.txt -text
doc/technical/index.txt -text
doc/technical/linebuf.txt -text
doc/technical/message-customisation.txt -text
doc/technical/network.txt -text
doc/technical/rfc1459.txt -text
doc/technical/send.txt -text
doc/technical/ts5.txt -text
doc/technical/whats-new-code.txt -text
doc/whats-new.txt -text
help/.cvsignore -text
help/Makefile.in -text
help/opers/accept -text
help/opers/admin -text
help/opers/away -text
help/opers/capab -text
help/opers/cburst -text
help/opers/challenge -text
help/opers/cjoin -text
help/opers/client -text
help/opers/close -text
help/opers/cmode -text
help/opers/connect -text
help/opers/credits -text
help/opers/cryptlink -text
help/opers/die -text
help/opers/dline -text
help/opers/dmem -text
help/opers/drop -text
help/opers/eob -text
help/opers/error -text
help/opers/gline -text
help/opers/help -text
help/opers/index -text
help/opers/info -text
help/opers/invite -text
help/opers/ison -text
help/opers/join -text
help/opers/kick -text
help/opers/kill -text
help/opers/kline -text
help/opers/knock -text
help/opers/knockll -text
help/opers/links -text
help/opers/list -text
help/opers/lljoin -text
help/opers/llnick -text
help/opers/locops -text
help/opers/lusers -text
help/opers/modlist -text
help/opers/modload -text
help/opers/modrestart -text
help/opers/modunload -text
help/opers/motd -text
help/opers/names -text
help/opers/nburst -text
help/opers/nick -text
help/opers/notice -text
help/opers/oper -text
help/opers/operwall -text
help/opers/part -text
help/opers/pass -text
help/opers/ping -text
help/opers/pong -text
help/opers/post -text
help/opers/privmsg -text
help/opers/quit -text
help/opers/rehash -text
help/opers/restart -text
help/opers/resv -text
help/opers/server -text
help/opers/set -text
help/opers/sjoin -text
help/opers/squit -text
help/opers/stats -text
help/opers/svinfo -text
help/opers/testline -text
help/opers/time -text
help/opers/topic -text
help/opers/trace -text
help/opers/uhelp -text
help/opers/umode -text
help/opers/undline -text
help/opers/ungline -text
help/opers/unkline -text
help/opers/unresv -text
help/opers/user -text
help/opers/userhost -text
help/opers/users -text
help/opers/version -text
help/opers/wallops -text
help/opers/who -text
help/opers/whois -text
help/opers/whowas -text
help/users/index -text
help/users/info -text
help/users/notice -text
help/users/privmsg -text
help/users/stats -text
help/users/umode -text
iauth/.cvsignore -text
iauth/Makefile.in -text
iauth/include/auth.h -text
iauth/include/class.h -text
iauth/include/commands.h -text
iauth/include/conf.h -text
iauth/include/iauth.h -text
iauth/include/log.h -text
iauth/include/match.h -text
iauth/include/misc.h -text
iauth/include/mtree.h -text
iauth/include/res.h -text
iauth/include/setup.h -text
iauth/include/sock.h -text
iauth/source/.cvsignore -text
iauth/source/.depend -text
iauth/source/Makefile.in -text
iauth/source/auth.c -text
iauth/source/class.c -text
iauth/source/commands.c -text
iauth/source/conf.c -text
iauth/source/iauth.c -text
iauth/source/log.c -text
iauth/source/match.c -text
iauth/source/misc.c -text
iauth/source/mtree.c -text
iauth/source/res.c -text
iauth/source/sock.c -text
include/.cvsignore -text
include/Makefile.in -text
include/balloc.h -text
include/channel.h -text
include/channel_mode.h -text
include/class.h -text
include/client.h -text
include/common.h -text
include/config.h -text
include/config.h.dist -text
include/defaults.h -text
include/event.h -text
include/fdlist.h -text
include/fileio.h -text
include/handlers.h -text
include/hash.h -text
include/hook.h -text
include/hostmask.h -text
include/irc_string.h -text
include/ircd.h -text
include/ircd_defs.h -text
include/ircd_getopt.h -text
include/ircd_handler.h -text
include/ircd_signal.h -text
include/ircdauth.h -text
include/linebuf.h -text
include/list.h -text
include/listener.h -text
include/m_info.h -text
include/m_kline.h -text
include/md5.h -text
include/memory.h -text
include/modules.h -text
include/motd.h -text
include/msg.h -text
include/numeric.h -text
include/packet.h -text
include/parse.h -text
include/patchlevel.h -text
include/res.h -text
include/restart.h -text
include/resv.h -text
include/rsa.h -text
include/s_auth.h -text
include/s_bsd.h -text
include/s_conf.h -text
include/s_debug.h -text
include/s_gline.h -text
include/s_log.h -text
include/s_misc.h -text
include/s_serv.h -text
include/s_stats.h -text
include/s_user.h -text
include/s_zip.h -text
include/scache.h -text
include/send.h -text
include/serno.h -text
include/setup.h.in -text
include/setup.h_vms -text
include/sprintf_irc.h -text
include/stdinc.h -text
include/supported.h -text
include/tools.h -text
include/whowas.h -text
/make.com -text
messages/.cvsignore -text
messages/Makefile.in -text
messages/ayb.po -text
messages/build_one -text
messages/create_po -text
messages/custom.po -text
messages/translations/.cvsignore -text
messages/translations/Makefile.in -text
messages/translations/README -text
messages/translations/ircd-croatian.po -text
messages/translations/ircd-danish.po -text
messages/translations/ircd-dutch.po -text
messages/translations/ircd-german.po -text
messages/translations/ircd-norwegian.po -text
messages/translations/ircd-spanish.po -text
messages/translations/ircd-swedish.po -text
modules/.cvsignore -text
modules/.depend -text
modules/Makefile.in -text
modules/core/descrip.mms -text
modules/core/m_die.c -text
modules/core/m_kick.c -text
modules/core/m_kill.c -text
modules/core/m_message.c -text
modules/core/m_mode.c -text
modules/core/m_nick.c -text
modules/core/m_part.c -text
modules/core/m_quit.c -text
modules/core/m_server.c -text
modules/core/m_sjoin.c -text
modules/core/m_squit.c -text
modules/descrip.mms -text
modules/m_accept.c -text
modules/m_admin.c -text
modules/m_alias.c -text
modules/m_away.c -text
modules/m_capab.c -text
modules/m_cburst.c -text
modules/m_challenge.c -text
modules/m_close.c -text
modules/m_connect.c -text
modules/m_cryptlink.c -text
modules/m_dmem.c -text
modules/m_drop.c -text
modules/m_eob.c -text
modules/m_gline.c -text
modules/m_help.c -text
modules/m_info.c -text
modules/m_invite.c -text
modules/m_ison.c -text
modules/m_join.c -text
modules/m_kline.c -text
modules/m_knock.c -text
modules/m_links.c -text
modules/m_list.c -text
modules/m_lljoin.c -text
modules/m_llnick.c -text
modules/m_locops.c -text
modules/m_lusers.c -text
modules/m_map.c -text
modules/m_motd.c -text
modules/m_names.c -text
modules/m_nburst.c -text
modules/m_oper.c -text
modules/m_operwall.c -text
modules/m_pass.c -text
modules/m_ping.c -text
modules/m_pong.c -text
modules/m_post.c -text
modules/m_rehash.c -text
modules/m_restart.c -text
modules/m_resv.c -text
modules/m_set.c -text
modules/m_sethost.c -text
modules/m_smo.c -text
modules/m_stats.c -text
modules/m_svinfo.c -text
modules/m_svscmds.c -text
modules/m_testline.c -text
modules/m_time.c -text
modules/m_topic.c -text
modules/m_trace.c -text
modules/m_user.c -text
modules/m_userhost.c -text
modules/m_users.c -text
modules/m_version.c -text
modules/m_vhost.c -text
modules/m_wallops.c -text
modules/m_who.c -text
modules/m_whois.c -text
modules/m_whowas.c -text
servlink/.cvsignore -text
servlink/Makefile.in -text
servlink/README -text
servlink/TODO -text
servlink/control.c -text
servlink/control.h -text
servlink/descrip.mms -text
servlink/io.c -text
servlink/io.h -text
servlink/servlink.c -text
servlink/servlink.h -text
servlink/setup.h.in -text
src/.cvsignore -text
src/.depend -text
src/Makefile.in -text
src/adns.c -text
src/balloc.c -text
src/channel.c -text
src/channel_mode.c -text
src/class.c -text
src/client.c -text
src/cloak.c -text
src/crypt.c -text
src/descrip.mms -text
src/dynlink.c -text
src/event.c -text
src/fdlist.c -text
src/fileio.c -text
src/getopt.c -text
src/hash.c -text
src/hook.c -text
src/hostmask.c -text
src/irc_string.c -text
src/ircd.c -text
src/ircd_lexer.l -text
src/ircd_parser.y -text
src/ircd_signal.c -text
src/ircdauth.c -text
src/kdparse.c -text
src/linebuf.c -text
src/list.c -text
src/listener.c -text
src/m_error.c -text
src/match.c -text
src/md5.c -text
src/memory.c -text
src/messages.tab -text
src/modules.c -text
src/motd.c -text
src/numeric.c -text
src/packet.c -text
src/parse.c -text
src/restart.c -text
src/resv.c -text
src/rsa.c -text
src/s_auth.c -text
src/s_bsd.c -text
src/s_bsd_devpoll.c -text
src/s_bsd_kqueue.c -text
src/s_bsd_poll.c -text
src/s_bsd_select.c -text
src/s_bsd_sigio.c -text
src/s_conf.c -text
src/s_debug.c -text
src/s_gline.c -text
src/s_log.c -text
src/s_misc.c -text
src/s_serv.c -text
src/s_stats.c -text
src/s_user.c -text
src/scache.c -text
src/send.c -text
src/snprintf.c -text
src/sprintf_irc.c -text
src/tools.c -text
src/version.c.SH -text
src/version.com -text
src/whowas.c -text
tools/.cvsignore -text
tools/Makefile.in -text
tools/README -text
tools/README.mkpasswd -text
tools/convertconf.c -text
tools/convertilines.c -text
tools/convertklines.c -text
tools/descrip.mms -text
tools/encspeed.c -text
tools/mkkeypair -text
tools/mkpasswd.c -text
tools/rsa_respond/.cvsignore -text
tools/rsa_respond/Makefile -text
tools/rsa_respond/README -text
tools/rsa_respond/respond.c -text
tools/untabify -text
tools/viconf.c -text
